/.phpunit*
/home/build
/config/_compiled/*
/github-changelog-http-cache
/vendor
/vendor-bin/**/vendor
/vendor-bin/**/composer.lock
/ws.phar
/tests/Workspace
/tests/Test/Updater/fixtures/generated
/.php-cs-fixer.cache
