parameters:
    level: 4
    paths:
        - src
        - tests
        - bin/workspace
        - config

    ignoreErrors:
    - '{Property .*Definition::\$.* is never written, only read}'
    - "{Property my127\\\\Workspace\\\\Types\\\\Harness\\\\Builder\\:\\:\\$application is never read, only written\\.$}"
    - "{Property my127\\\\Workspace\\\\Types\\\\Harness\\\\Repository\\\\Package\\\\Package\\:\\:\\$name is never written, only read}"
    - "{Property my127\\\\Workspace\\\\Types\\\\Harness\\\\Repository\\\\Package\\\\Package\\:\\:\\$version is never written, only read}"
