<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        bootstrap="tests/_bootstrap.php"
        colors="true">

    <testsuites>
        <testsuite name="my127/workspace">
            <directory>./tests/Test/</directory>
        </testsuite>
        <testsuite name="my127/Console">
            <directory>./packages/Console/tests/Test/</directory>
        </testsuite>
        <testsuite name="my127/FSM">
            <directory>./packages/FSM/tests//Test/</directory>
        </testsuite>
    </testsuites>

</phpunit>