---

# NOTE: This configuration is not used directly, bin/build generates a PHP representation as _compiled/container.php
# which is used instead.

services:

  # -- config-global

  _defaults:
    autowire: true
    public: false

  # -- config-type

  _instanceof:

    my127\Console\Application\Plugin\Plugin:
      tags: [application.plugin]

    my127\Console\Application\Action\Action:
      tags: [application.action]

    my127\Workspace\Definition\Factory:
      tags: [definition.factory]

    my127\Workspace\Environment\Builder:
      tags: [environment.builder]

    my127\Workspace\Interpreter\Executor:
      tags: [interpreter.executor]

    my127\Workspace\Interpreter\Filter:
      tags: [interpreter.filter]

    my127\Workspace\Path\Path:
      tags: [path]

    Symfony\Component\EventDispatcher\EventSubscriberInterface:
      tags: [kernel.event_subscriber]

  # -- autoload

  my127\Workspace\:
    resource: '../src/*'

  my127\Console\:
    resource: '../packages/Console/src/*'

  my127\Workspace\Types\Harness\Repository\AggregateRepository:
    arguments:
      - '@my127\Workspace\Types\Harness\Repository\PackageRepository'
      - '@my127\Workspace\Types\Harness\Repository\LocalSyncRepository'
      - '@my127\Workspace\Types\Harness\Repository\ArchiveRepository'

  my127\Workspace\Types\Harness\Repository\ArchiveRepository: ~
  my127\Workspace\Types\Harness\Repository\PackageRepository: ~
  my127\Workspace\Types\Harness\Repository\LocalSyncRepository: ~

  my127\Workspace\Types\Harness\Repository\Repository $packages: '@my127\Workspace\Types\Harness\Repository\AggregateRepository'

  my127\Workspace\Updater\Updater:
    arguments:
      $apiUrl: 'https://api.github.com/repos/my127/workspace/releases'

  # -- require

  Symfony\Component\EventDispatcher\EventDispatcher:
    alias: event_dispatcher

  event_dispatcher:
    class: Symfony\Component\EventDispatcher\EventDispatcher
    public: true

  Symfony\Component\Console\Output\ConsoleOutputInterface:
    alias: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Output\ConsoleOutput:
    class: Symfony\Component\Console\Output\ConsoleOutput

  Symfony\Component\Console\Input\ArgvInput:
    class: Symfony\Component\Console\Input\ArgvInput

  Symfony\Component\Console\Helper\QuestionHelper:
    class: Symfony\Component\Console\Helper\QuestionHelper

  # -- config-general

  my127\Workspace\Application:
    public: true

  my127\Workspace\Path\Path: '@my127\Workspace\Path\Composite'
